.NavBar{
    display: flex;
    justify-content: space-evenly;
    background-color: limegreen;
    border-radius: 10px;
    margin: 2px;
    font-family: Arial, Helvetica, sans-serif;
}

.linkpet{
    margin-top: 10px;
    color: white;
    font-size: 40px;
}

.linkpet:hover{
    color: gray;
    transform: scale(1.5);
    transition: 0.5s;
}

.link{
    color: white;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    text-decoration: none;
}

.link:hover{
    color: gray;
    transform: scale(1.5);
    transition: 0.5s;
}
